    <div class="add-resource">
      <h2><i class="fas fa-plus"></i> Add a Resource</h2>

      <p>Is there a resource - perhaps a website, book, YouTube channel, podcast, etc. - that you'd like to add to this page?</p>

      <p>If so, please fill out <a href="/resources-form">this form</a>, and your resource will be considered for inclusion on this page. Thank you!</p>
    </div>    