  <footer>
    <div class="copyright footer">
      <p>&copy; Copyright 2020 Jamie L. Thompson</p>
    </div>
    <div class="website-title footer">
      <p><i><a href="/">Women with ADHD: A Website to Educate &amp; Empower Women with Attention Deficit/Hyperactivity Disorder</a></i></p>
    </div>
  </footer>