        <nav class="nav">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
            <a class="nav-link" href="/what-is-adhd"><i class="fas fa-question-circle"></i> What is ADHD?</a>
            <a class="nav-link" href="/living-with-adhd"><i class="fas fa-brain"></i> Living with ADHD</a>
            <a class="nav-link" href="/treatments"><i class="fas fa-star"></i> Treatments</a>
            <a class="nav-link" href="/treatments/therapy-coaching"><i class="fas fa-user-friends"></i> Psychotherapy & Coaching</a>
            <a class="nav-link" href="/treatments/medication"><i class="fas fa-pills"></i> Medication</a>
            <a class="nav-link" href="/treatments/natural-holistic"><i class="fas fa-hand-holding-heart"></i> Natural & Holistic Therapies</a>
            <a class="nav-link" href="/mindfulness"><i class="fas fa-spa"></i> Mindfulness</a>
            <a class="nav-link" href="/resources"><i class="fas fa-bookmark"></i> Resources</a>
            <a class="nav-link" href="/about"><i class="fas fa-user-circle"></i> About</a>
            <a class="nav-link" href="/contact"><i class="fas fa-envelope"></i> Contact</a>
        </nav>