<!-- views/partials/nav.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-cog"></span>
                CodeSquad Personal Project
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/style1">Style #1</a></li>
            <li><a href="/style2">Style #2</a></li>
            <li><a href="/style3">Style #3</a></li>
            <li><a href="/style4">Style #4</a></li>
            <li><a href="/sitemap">Sitemap</a></li>
        </ul>

    </div>
</nav>