:root {
  --primary-color: #fe0000;
  --secondary-color: #00aeed;
  --accent-color-1: #ffec3a;
  --accent-color-2: #c4a998;
  --accent-color-3: #ffc989;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.nav-home {
  background-color: var(--primary-color);
  padding: 15px 25px;
  flex: 1;
}

.nav-home a:link {
  color: white;
}

.nav-home a:visited {
  color: white;
}

.nav-home a:hover {
  color: var(--accent-color-1);
}

.nav-home a:active {
  color: var(--accent-color-3);
}

.nav-other {
  background-color: var(--secondary-color);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 6;
}

.nav-other a:link {
  color: white;
}

.nav-other a:visited {
  color: white;
}

.nav-other a:hover {
  color: var(--accent-color-1);
}

.nav-other a:active {
  color: var(--primary-color);
}
