:root {
  --primary-color: #fe0000;
  --secondary-color: #00aeed;
  --accent-color-1: #ffec3a;
  --accent-color-2: #c4a998;
  --accent-color-3: #ffc989;
}

.books-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.single-book {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  flex-basis: 15%;
  box-sizing: border-box;
}

.book-cover {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.book-cover img {
  width: 225px;
}

.single-book a {
  font-weight: bold;
}

.single-book a:link {
  color: var(--primary-color);
}

.single-book a:visited {
  color: var(--primary-color);
}

.single-book a:hover {
  color: var(--secondary-color);
}

.single-book a:active {
  color: var(--secondary-color);
}