/*
----- Color Palette -----
HTML        RGB Hex   Hex3	HSL	            RGB
red         #fe0000   #f00  hsl(0,100,49)	  rgb(254,0,0)
deepskyblue #00aeed	  #0bf  hsl(195,100,46)	rgb(0,174,237)
yellow      #ffec3a	  #ff4	hsl(54,100,61)	rgb(255,236,58)
tan         #c4a998	  #cba	hsl(23,27,68)	  rgb(196,169,152)
khaki       #ffc989	  #fd9	hsl(32,100,76)	rgb(255,201,137)
black       #000000	  #000	hsl(0,0,0)	    rgb(0,0,0)

----- Font -----
Muli
font-family: 'Muli', sans-serif;
https://fonts.google.com/specimen/Muli

extra-light 200
extra-light 200 Italic
light 300
light 300 Italic
regular 400
regular 400 Italic
medium 500
medium 500 Italic
semi-bold 600
semi-bold 600 Italic
bold 700
bold 700 Italic
extra-bold 800
extra-bold 800 Italic
black 900
black 900 Italic
*/

@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,577;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,577;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: 'Muli', 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 15px;
}

main {
  flex: 1 0 auto;
  padding: 0 15px;
  /* margin: auto; */
}

h1 {
  color: #fe0000;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p, li {
  font-size: 1.4em;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:link {
  color: #fe0000;
}

a:visited {
  color: #00aeed;
}

a:active {
  color: #ffec3a;
}

a:hover {
  color: #c4a998;
}

#home-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container-top {
  display: flex;
  flex: 1;
  margin-top: 25px;
  margin-left: 15px;
}

.welcome-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex: 2;
  text-align: center;
}

.welcome-header h2 {
  color: black;
}

.welcome-text {
  padding: 0 25px 5px 25px;
  font-size: 165%;
}

.final-message {
  text-align: left;
  font-size: 65%;
  padding: 0 50px 15px 50px;
}

.welcome-photo {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 20%;
  flex: 1;
  margin-right: 30px;
  margin-bottom: 40px;
  min-width: 600px;
}

.welcome-photo img {
  border-radius: 20%;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topics-container {
  display: flex;
  flex-direction: column;
  border-top: 10px solid #fe0000;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.single-topic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: xx-large;
  font-weight: 700;
  flex-basis: 20%;
  height: 200px;
  text-align: center;
  margin: 10px;
}

.single-topic:nth-child(1) {background-color: #fe0000;}
.single-topic:nth-child(2) {background-color: #00aeed;}
.single-topic:nth-child(3) {background-color: #ffec3a;}
.single-topic:nth-child(4) {background-color: #c4a998};

.single-topic a:link {
  color: black;
  font-weight: bold;
}

.single-topic a:visited {
  color: black;
}

.single-topic a:hover {
  color: #ffc989;
}

.single-topic a:active {
  color: #fff;
}

.home-bottom-container {
  background-color: #ffc989 ;
  height: 400px;
  /* border-top: 15px solid #fe0000; */
  padding: 0;
  margin: 0;
}

footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #fe0000;
  color: white;
  font-size: .85em;
  text-align: center;
  padding: 5px 15px;
  font-weight: 600;
}

.footer a {
  color: white;
  font-weight: bold;
}

.footer a:active {
  color: #ffec3a;
}
