/* 
----- Color Palette -----
Festive Easter Eggs
https://www.color-hex.com/color-palette/90721
Color	    Hex	        RGB
Turquoise   #00bdbd	    (0,189,189)
Coral       #f97171     (249,113,113)
Purple      #767aac     (118,122,172)
Green       #9bbb59	    (155,187,89)
Yellow      #ffe280	    (255,226,128)
Gray        #273d3d     (39,61,61)      darkslategray

----- Fonts -----
Headings: Lobster
font-family: 'Lobster', cursive;
https://fonts.google.com/specimen/Lobster
regular 400

Text: EB Garamond
font-family: 'EB Garamond', sans-serif;
https://fonts.google.com/specimen/EB+Garamond
regular 400
regular 400 Italic
medium 500
medium 500 Italic
semi-bold 600
semi-bold 600 Italic
bold 700
bold 700 Italic
extra-bold 800
extra-bold 800 Italic
*/

body {
    font-family: 'EB Garamond', sans-serif;
    color: #273d3d;
    font-size: 1.6;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster', cursive;
}

a:link {
    text-decoration: none;
    color: #00bdbd;
}

a:hover {
    color: #f97171;
}

a:active {
    color: #ffe280;
}

a:visited {
    color: #767aac;
}

p {
    padding: 0 5px;
}

#box {
    padding: 0 15px;
    margin: 0 5px 25px 0;
    border: 5px solid #00bdbd;
}

#color-palette, #styles {
    display: flex;
    justify-content: space-between;
    margin: 0 0 7px 0;
    padding: 0;
}

#color-palette li, #styles li {
    list-style-type: none;
    width: 20%;
    text-align: center;
    margin: 0 5px;
}

.fas {
    margin-right: 7px;
}

#color-palette a:link, #color-palette a:visited {
    color: #273d3d;
}

#color-palette a:hover, #color-palette a:active {
    color: white;
}

.turquoise-bg, .coral-bg, .purple-bg, .green-bg, .yellow-bg, .gray-bg {
    border-radius: 10px;
    padding: 15px;
    margin: 0;
}

.turquoise {
    color: #00bdbd;
}

.turquoise-bg {
    background-color: #00bdbd;
}

.purple {
    color: #767aac;
}

.purple-bg {
    background-color: #767aac;
}

.coral {
    color: #f97171;
}

.coral-bg {
    background-color: #f97171;
}

.green {
    color: #9bbb59;
}

.green-bg {
    background-color: #9bbb59;
}

.yellow {
    color: #ffe280;
}

.yellow-bg {
    background-color: #ffe280;
}

.gray {
    color: #273d3d;
}

.gray-bg {
    background-color: #273d3d;
}
