/*
----- Color Palette ----- 
Summer by the Sea 3
https://www.color-hex.com/color-palette/90715
Color	    Hex	        RGB
Turquoise   #53aeb6	    (83,174,182)    cadetblue
Pink        #cd8f89	    (205,143,137)   rosybrown
Blue        #89c7cd	    (137,199,205)   skyblue
Purple      #89a5cd     (137,165,205)   darkgray
Green       #89cdb1     (137,205,177)   mediumaquamarine
Gray        #273d3d     (39,61,61)      darkslategray

----- Fonts -----
Headings: Marcellus SC
font-family: 'Marcellus SC', serif;
https://fonts.google.com/specimen/Marcellus+SC
regular 400

Text: Crimson Text
font-family: 'Crimson Text', serif;
https://fonts.google.com/specimen/Crimson+Text
regular 400
regular 400 Italic
semi-bold 600
semi-bold 600 Italic
bold 700
bold 700 Italic
*/

body {
    font-family: 'Crimson Text', serif;
    color: #273d3d;
    font-size: 1.6;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Marcellus SC', serif;
    color: white;
}

a:link {
    text-decoration: none;
    color: #53aeb6;
}

a:hover {
    color: #cd8f89;
}

a:active {
    color: #89cdb1;
}

a:visited {
    color: #89a5cd;
}

p {
    padding: 0 5px;
}

#box {
    padding: 0 15px;
    margin: 0 5px 25px 0;
    border: 5px solid #53aeb6;
}

#color-palette, #styles {
    display: flex;
    justify-content: space-between;
    margin: 0 0 7px 0;
    padding: 0;
}

#color-palette li, #styles li {
    list-style-type: none;
    width: 20%;
    text-align: center;
    margin: 0 5px;
}

.fas {
    margin-right: 7px;
}

#color-palette a {
    color: white;
}

.turquoise-bg, .pink-bg, .blue-bg, .purple-bg, .green-bg, .gray-bg {
    border-radius: 10px;
    padding: 15px;
    margin: 0;
}

.turquoise {
    color: #53aeb6;
}

.turquoise-bg {
    background-color: #53aeb6;
}

.pink {
    color: #cd8f89;
}

.pink-bg {
    background-color: #cd8f89;
}

.purple {
    color: #89a5cd;
}

.purple-bg {
    background-color: #89a5cd;
}

.green {
    color: #89cdb1;
}

.green-bg {
    background-color: #89cdb1;
}

.blue {
    color: #89c7cd;
}

.blue-bg {
    background-color: #89c7cd;
}

.gray {
    color: #273d3d;
}

.gray-bg {
    background-color: #273d3d;
}
